@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:wght@300&family=Squada+One&display=swap');

body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.navbar {
  background-color: rgba(26, 26, 26, 0.9);
  height: 65px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar div a {
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

.navbar div {
  padding: 0px 20px 0px 20px;
}

.navbar div h1 {
  color: #2955ce;
}

.navbar div ul li a {
  color: white;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}

.navbar div ul li a:hover {
  color: #2955ce;
  transition: all 0.3s ease;
}

.navbar div ul li a:not(:hover) {
  transition: all 0.3s ease;
}

.navbar div ul li a:active {
  color: #2955ce;
}

.home {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: auto;
  max-width: auto;
  width: 80%;
  background-color: rgb(233, 233, 233);
}

.blog-details {
  justify-content: left;
  align-items: left;
  text-align: left;
  height: 100vh;
  margin: auto;
  max-width: auto;
  width: 60%;
  background-color: rgb(233, 233, 233);
}

.blog-details > article button {
  background-color: #cc2626;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5rem auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-details > article button:hover {
  background-color: #8a1515;
  transition: all 0.3s ease;
  scale: 1.1;
}

.blog-details > article button:not(:hover) {
  transition: all 0.3s ease;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: auto;
  flex-direction: column;
  width: 100%;
}


.create > form .form-items {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
  width: 100%;
}

.create > form .form-items > * {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.create > form .form-items > input , select, textarea{
  border: 2px solid #2955ce;
  width: 400px;
  resize: none;
  padding: 8px; 
  max-width: 400px;
}

.create > form .form-items > textarea{
  height: 150px;
  overflow: auto;
}

.create > form .form-items > label{
  padding-left: 0;
  width: 100%;
}

.create > form button {
  color: #2955ce;
  width: 200px;
  padding: 10px;
  margin: 30px auto;
  border-radius: 10px;
  border: 2px solid #2955ce;
  align-self: center;
  cursor: pointer;
}

.create > form button:hover {
  color: White;
  transition: all 0.3s ease;
  background-color: #2955ce;
  scale: 1.1;
  font-weight: bold;
}

.create > form button:not(:hover) {
  transition: all 0.3s ease;
}

.create > form p {
  width: 400px;
  margin: auto;
  text-align: center;
}

.create > form h1 h2 h3 h4 h5 {
  width: 400px;
  margin: auto;
  text-align: center;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  padding: 200px 0 200px 0;
  max-width: auto;
  background-color: rgb(233, 233, 233);
}

.del-btn {
  background-color: #cc2626;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.del-btn:hover {
  background-color: #8a1515;
  transition: all 0.3s ease;
  scale: 1.1;
}

.del-btn:not(:hover) {
  transition: all 0.3s ease;
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0 5rem 0;
}

.blogs-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog-card:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}

.blog-card:not(:hover){
  transition: all 0.3s ease;
}

.blog-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card a {
  text-decoration: none;
  color: black;
}

.blog-card a:hover {
  color: #2955ce;
  transition: all 0.3s ease;
}

.blog-card a:not(:hover){
  transition: all 0.3s ease;
}